@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  font-family: "Gill Sans", sans-serif;
  background-color: #fef6e4;
  padding: 50px;
  line-height: 1;

}
h1 {
  color: #fef6e4;
  background-color: #f582ae;
  font-size: 5em;
  font-weight: bold;
}

h2 {
  color: #fef6e4;
  background-color: #001858;
  font-size: 3em;
  font-weight: bold;

}

h3 {
  color: #001858;
  font-size: 2em;
  font-weight: bold;

}

p {
  color: #001858;
	font-size: 1.5em;
}
